{% include 'header.html' %}
     <!-- NEWS DETAIL -->
     <section id="news-detail" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-8 col-sm-7">
                         <!-- NEWS THUMB -->
                         <div class="news-detail-thumb">
                              <div class="news-image">
                                   <img src="/static/images/i1.jpg" class="img-responsive" alt="">
                              </div>
                              <h3>Introducing a new healing process</h3>
                              <p>Current studies on wound healing focus on identifying molecular level target genes that can be enhanced 
                                   to expedite natural wound healing. The hedgehog signaling pathway has been used in multiple studies 
                                   due to its role in epithelial-mesenchymal interaction in wound healing. Laser techniques are 
                                   being explored to enhance cell proliferation and accelerate wound healing. A multifaceted 
                                   approach to wound healing focusing on adequate dressing and local care, nutritional support, and 
                                   hyperbaric oxygen therapy in severe cases is necessary to ensure proper wound healing in the most 
                                   difficult of cases.</p>
                              
                         </div>

                         <div class="news-detail-thumb">
                              <div class="news-image">
                                   <img src="/static/images/mtech.jpg" class="img-responsive" alt="">
                              </div>
                              <h3>About Amazing Technology</h3>
                              <p>1. MRNA TECHNOLOGY:
                                   mRNA technology has been put under the spotlight recently as the new vaccines for Covid-19 use this science. With their high effectiveness, capacity for rapid development, and potential for low production costs, mRNA vaccines offer an alternative to the traditional vaccine approach.
                                   mRNA, or messenger ribonucleic acid, is a single-stranded RNA molecule that carries the genetic information that is derived from DNA. mRNA vaccines work by providing a genetic code to cells to allow them to produce viral proteins, once the proteins have been created the body can then produce an immune response. The success of the Covid-19 mRNA vaccines has given a big boost to efforts to develop other mRNA vaccines for everything, from cancers to Zika virus.
                                   mRNAs potential is thought to extend beyond just vaccines. mRNA can code for just about any protein, so the same basic technology might also allow us to develop all kinds of treatments by getting the body to produce a drug-like response. Many protein-based drugs such as antibodies made outside the body have proved extremely effective – but also extremely expensive. So, by using mRNA technology, development times and costs could be cut by setting the human body to work on manufacturing the proteins instead.</p>
                              
                              <p>2. VIRTUAL REALITY:
                                   Virtual reality has been around for some time. However, it is now being increasingly used to treat and manage a wide range of psychological illnesses and conditions, from stress and anxiety to dementia and autism. But its capabilities are not just limited to mental health conditions, it is also being used for effective pain management by changing the patients’ thoughts and perceptions around pain.
                                   VR has also greatly improved the training processes for medical professionals, as it allows you to be transported into the human body. It also helps when doctors are diagnosing, as the patient is able to virtually step into a panoramic view of their body, giving them a better understanding of their disease or condition.
                                   There is still huge, uncovered potential for VR, but its focus areas for medical advancements include preventive healthcare, rehabilitation, assistive living, cancer therapy, and surgery.</p>
                                   
                         </div>

                         <div class="news-detail-thumb">
                              <div class="news-image">
                                   <img src="/static/images/i2.jpg" class="img-responsive" alt="">
                              </div>
                              <h3>Current Health Issues</h3>
                              <p>1. Pandemics:
                                   According to an article published in the Bulletin of the World Health Organization, pandemics are defined as global disease outbreaks. Examples of pandemics include certain influenza outbreaks, COVID-19, and other viral threats that reflect our vulnerability to widespread diseases—many of which originate in animals.
                                   Every year, there are newly emerging pandemic threats. Vaccination efforts can help, but it’s critical to address issues at the source by addressing important areas like health education and responsible agricultural practices. Researchers have also made recommendations on global risk mitigation measures that can help even after an outbreak occurs.</p>
                              
                              <p>2. Environmental factors:
                                   How can air pollution and climate change affect the health of the human population? In most cases, the answer lies in water sources and sanitation.
                                   Storms, flooding, droughts, and air pollution make it easier for diseases to spread across large groups of people. The immediate solution is to provide resources like bottled water and sanitation technology, but global health must also focus on the prevention of environmental challenges in the first place.
                                   “Climate change is thought by many global health experts to be the greatest threat to human health,” Dr. Macpherson says. “Global policies to mitigate mankind’s contribution to climate change are gaining traction.”</p>
                                   
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-5">
                         <div class="news-sidebar">

                              <div class="recent-post">
                                   <h4>Latest News</h4>

                                        <div class="media">
                                             <div class="media-object pull-left">
                                                  <img src="/static/images/i3.jpg" class="img-responsive" alt="">
                                             </div>
                                             <div class="media-body">
                                                  <h4 class="media-heading">Introducing a new healing process</h4>
                                             </div>
                                        </div>

                                        <div class="media">
                                             <div class="media-object pull-left">
                                                  <img src="/static/images/i4.jpg" class="img-responsive" alt="">
                                             </div>
                                             <div class="media-body">
                                                  <h4 class="media-heading">About Amazing Technology</h4>
                                             </div>

                                             
                                        </div>

                                        <div class="media">
                                             <div class="media-object pull-left">
                                                  <img src="/static/images/i5.jpg" class="img-responsive" alt="">
                                             </div>
                                             <div class="media-body">
                                                  <h4 class="media-heading">Current Health Issues</h4>
                                             </div>

                                             
                                        </div>
                              </div>

                              
                              
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>
     {% include 'footer.html' %}   


   